<nav class="ui menu">
  
    <header class="ui header item"><a href="#"> WeatherTop </a></header>
    <div class="ui labeled icon right blue menu">
        <a id="index" class="item" href="/"> <i class="home icon"></i>Home</a>
        <a id="login" class="item" href="/login"> <i class="sign in icon"></i>Login</a>
        <a id="signup" class="item" href="/signup"> <i class="signup icon"></i>Sign up</a>
        <a id="about" class="item" href="/about"> <i class="info icon"></i>About</a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active blue item");
</script>