{{> welcomemenu id='index' }}

<section class="ui center aligned segment">
    <h1 class="ui blue massive header">Welcome to the WeatherTop web app</h1>
    <h3 class="ui large header">Many thanks for purchasing the WeatherTop 1000 weather station</h3>
    <img class="ui centered large bordered rounded image" src="https://cdn.glitch.com/1c8527e3-a135-4e90-9bfa-57b061242937%2Fweather_station.jpg?v=1631488996861">
    <br>
    <p><span class="ui large text">
    This web app will make it easy for you to keep a record of your readings.
  </span></p>
    <p><span class="ui large text">
    Also converting your readings into other metrics and identifying trends.
  </span></p>
    <p><span class="ui medium text">
    Click <a href="/login">Login</a> on the top right menu to login if you are an existing user.
  </span></p>
    <p><span class="ui medium text">
    Or click <a href="/signup">Sign up</a> on the top right menu to register.
  </span></p>
  <a class="ui basic blue button" href="https://glitch.com/edit/#!/remix/weather-top-2021"><i class="fork icon"></i> 
  Remix on Glitch</a>
</section>