{{> menu}}

<section class="ui segment">
  {{#each stations}}
    {{> stationsummary}}
  {{/each}}
</section>
{{> addreading}}
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    List of Readings
  </div>
  <div class="content">
    {{> listreadings}}
  </div>
  <div class="active title">
    <i class="dropdown icon"></i>
    Trend Charts
  </div>
  <div class="active content">
    {{> trendcharts}}
  </div>
</div>

<script>$(".ui.accordion").accordion();</script>